body{
  background: linear-gradient(
    to left,
    #3c4043 0%,
    #3c4043 50%,
    #ffc107 50%,
    #ffc107 100%
  );
}
#container_app{
	border: 1px solid black;
	width: 300px;
	margin: auto;
	margin-top: 10%;
	text-align: center;
}
